h1, h4 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  background-color: transparent;
  max-width: 230px;
}

i {
  color: #525252;
}

header {
  padding: 25px 0 10px 0;
  box-shadow: 0 2px 20px #bfbfbf;
}
header .header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
header img {
  width: 150px;
}

/*--section-location--*/
.location {
  margin-top: 3px;
  background-color: #ededed;
  padding: 15px 0;
}
.location .loc__input {
  display: flex;
  justify-content: center;
}
.location .loc__input i {
  font-size: 1rem;
}
.location .loc__input input {
  font-size: 1rem;
  padding-left: 20px;
}
.location .loc__input ::placeholder {
  color: black;
}

/*--section-explore--*/
.explore {
  background-color: #f7f7f7;
  text-align: center;
  padding: 40px;
}
.explore__title {
  padding-bottom: 15px;
}
.explore h2 {
  margin: 0;
  padding: 0 10px;
}
.explore p {
  font-weight: 100;
}
.explore button {
  border: none;
  padding: 20px;
  font-size: 1rem;
  border-radius: 2rem;
  /*ne-fonctionne-pas-avec-la-variable*/
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0 4px 10px #bfbfbf;
}
.explore button:hover {
  opacity: 0.8;
  box-shadow: 0 8px 10px #797979;
}

/*--section-operation (fonctionnement)--*/
.operation {
  padding: 30px 30px;
}
@media screen and (min-width: 800px) {
  .operation {
    display: flex;
    flex-wrap: wrap;
  }
}
.operation__title {
  font-size: 1.2rem;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .operation__title {
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .operation__title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
}

.operation__step {
  display: flex;
  align-items: center;
  border-radius: 1.3rem;
  padding: 15px;
  margin: 20px auto;
  background: #f0f0f0;
  position: relative;
  box-shadow: 0 4px 10px #bfbfbf;
  max-width: 90%;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .operation__step {
    justify-content: center;
  }
}
.operation__step:hover {
  background: #f8efff;
}

i {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.1rem;
}
i:hover {
  color: #9356DC;
  /*changement de couleur au survol ne fonctionne pas */
}

.operation__step__number {
  position: absolute;
  left: -5%;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  font-size: 0.8rem;
  background-color: #9356DC;
  /*couleur-ne-fonctionne-pas-avec-la-variable???*/
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .operation__step__number {
    left: -2%;
  }
}

/*--section-restaurant--*/
.restaurant {
  background-color: #f7f7f7;
  padding: 30px 0;
}
.restaurant__title {
  font-size: 1.3rem;
  padding-left: 30px;
}
@media screen and (min-width: 800px) {
  .restaurant__title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 800px) {
  a {
    width: 40%;
    margin: auto;
  }
}

.restaurant__card {
  width: 88%;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 0 2px 20px #bfbfbf;
  position: relative;
}
@media screen and (min-width: 800px) {
  .restaurant__card {
    width: 100%;
  }
}
.restaurant__card__flag {
  position: absolute;
  background-color: #99E2D0;
  padding: 5px 10px;
  top: 5%;
  left: 75%;
  font-size: 0.8rem;
  color: #05785b;
}
.restaurant__card img {
  border-radius: 20px 20px 0 0;
  height: 170px;
}
.restaurant__card .restaurant__card__name--bold {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 15px 0 5px 15px;
}
.restaurant__card .restaurant__card__loc {
  font-weight: 300;
  margin: 0;
  padding: 5px 0 20px 15px;
}
.restaurant__card .restaurant__card__heart {
  position: absolute;
  top: 80%;
  left: 80%;
  font-size: 1.4rem;
}

footer {
  background-color: #373333;
  padding: 5px 0 30px 20px;
}
@media screen and (min-width: 800px) {
  footer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
}
footer a {
  display: flex;
  align-items: center;
  color: white;
}
@media screen and (min-width: 800px) {
  footer a {
    width: 20%;
    justify-content: center;
  }
}
footer h4 {
  color: white;
  margin: 20px 0;
  font-weight: 400;
}
@media screen and (min-width: 800px) {
  footer h4 {
    width: 100%;
  }
}
footer i {
  margin-right: 10px;
  margin-left: 0;
  font-size: 0.8rem;
  color: white;
}
footer p {
  margin: 5px 0;
}

/*# sourceMappingURL=style.css.map */
