@charset "UTF-8";
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1, h4 {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 30px;
  margin-top: 50px;
}
h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: #99E2D0;
  margin-top: 5px;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  background-color: transparent;
  max-width: 230px;
}

i {
  color: #525252;
}

header {
  padding: 25px 0 10px 0;
  box-shadow: 0 2px 20px #bfbfbf;
}
header .header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
header img {
  width: 150px;
}
header .fa-arrow-left {
  position: absolute;
  left: 30px;
  font-size: 1.1rem;
  color: black;
}

/*----------------------------------------------------
                     LOADER
----------------------------------------------------*/
.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.8);
  animation: loading 2s ease-in-out 1s 1 normal forwards;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 90px;
  background-color: #FF79DA;
  animation: loader 1s linear infinite;
}
.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 30px;
  height: 90px;
  background-color: #99E2D0;
  animation: loader 1s linear 1s infinite;
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 40px;
  width: 30px;
  height: 90px;
  background-color: #9356DC;
  animation: loader 1s linear 1s infinite;
}

@keyframes loader {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes loading {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*----------------------------------------------------
                     SECTION LOCATION
----------------------------------------------------*/
.location {
  margin-top: 3px;
  background-color: #ededed;
  padding: 15px 0;
}
.location .loc__input {
  display: flex;
  justify-content: center;
}
.location .loc__input i {
  font-size: 1rem;
}
.location .loc__input input {
  font-size: 1rem;
  padding-left: 20px;
}
.location .loc__input ::placeholder {
  color: black;
}

/*----------------------------------------------------
                     SECTION EXPLORE
----------------------------------------------------*/
.explore {
  background-color: #f7f7f7;
  text-align: center;
  padding: 40px;
}
.explore__title {
  padding-bottom: 15px;
}
.explore h3 {
  margin: 0;
  padding: 0 10px;
  font-weight: 500;
  font-size: 1.5rem;
}
.explore p {
  font-weight: 100;
}
.explore button {
  border: none;
  font-size: 1.3rem;
  border-radius: 2rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0 4px 10px #bfbfbf;
  cursor: pointer;
  padding: 20px 30px;
}
.explore button:hover {
  opacity: 0.8;
  box-shadow: 0 8px 10px #797979;
  transition: all 0.4s ease-in-out;
}

/*----------------------------------------------------
            SECTION OPERATION (FONCTIONNEMENT)
----------------------------------------------------*/
.operation {
  padding: 30px 30px;
}
@media screen and (min-width: 800px) {
  .operation {
    display: flex;
    flex-wrap: wrap;
  }
}
.operation__title {
  font-size: 1.2rem;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .operation__title {
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .operation__title {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
}

.operation__step {
  display: flex;
  align-items: center;
  border-radius: 1.3rem;
  padding: 15px;
  margin: 20px auto;
  background: #f0f0f0;
  position: relative;
  box-shadow: 0 4px 10px #bfbfbf;
  max-width: 90%;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .operation__step {
    justify-content: center;
  }
}
.operation__step:hover {
  background: #f8efff;
  transition: all 0.3s ease-in-out;
}

.operation__step i {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.1rem;
}
.operation__step i:hover {
  color: #9356DC;
}

.operation__step__number {
  position: absolute;
  left: -5%;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  font-size: 0.8rem;
  background-color: #9356DC;
}
@media screen and (min-width: 500px) and (max-width: 800px) {
  .operation__step__number {
    left: -2%;
  }
}

/*----------------------------------------------------
                     SECTION RESTAURANT
----------------------------------------------------*/
section.restaurant {
  background-color: #f7f7f7;
  padding: 30px 0;
}

@media screen and (min-width: 800px) {
  .restaurant.section {
    display: flex;
    flex-wrap: wrap;
  }
}

.restaurant h3 {
  margin-left: 30px;
  font-size: 1.5rem;
}
@media screen and (min-width: 800px) {
  .restaurant h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-right: 30px;
  }
}
.restaurant .container {
  width: 88%;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 0 2px 20px #bfbfbf;
  position: relative;
}
@media screen and (min-width: 800px) {
  .restaurant .container {
    width: 75%;
  }
}
.restaurant .flag {
  position: absolute;
  background-color: #99E2D0;
  padding: 5px 10px;
  top: 5%;
  left: 75%;
  font-size: 0.8rem;
  color: #05785b;
}
.restaurant .pic {
  border-radius: 20px 20px 0 0;
  height: 170px;
  overflow: hidden;
}
.restaurant .descriptif {
  position: relative;
}
.restaurant .name--bold {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 15px 0 5px 15px;
}
.restaurant .loc {
  font-weight: 300;
  margin: 0;
  padding: 5px 0 20px 15px;
}
.restaurant .like {
  position: absolute;
  top: 20%;
  left: 85%;
}
.restaurant .like > i {
  font-size: 2rem;
  background-color: transparent;
}
.restaurant .like i.fas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
}
.restaurant .like i.fas:hover {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: like 0.4s ease;
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
footer {
  background-color: #373333;
  padding: 5px 0 30px 20px;
}
footer a {
  display: flex;
  align-items: center;
  color: white;
}
footer h4 {
  color: white;
  margin: 20px 0;
  font-weight: 400;
}
footer i {
  margin-right: 10px;
  margin-left: 0;
  font-size: 0.8rem;
  color: white;
}
footer p {
  margin: 5px 0;
}

/*----------------------------------------------------
                     SECTION BANNIERE RESTAURANT
----------------------------------------------------*/
.restaurant__banner img {
  /*image bannière header*/
  max-height: 450px;
}

.restaurant__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: -50px;
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.restaurant__title h1 {
  font-size: 2rem;
}

.likes {
  position: relative;
  top: 0;
  left: 0;
}
.likes > i {
  font-size: 2rem;
  background-color: transparent;
}
.likes i.fas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
}
.likes i.fas:hover {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: like 0.4s ease;
}

@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*----------------------------------------------------
                     SECTION MENU
----------------------------------------------------*/
.section__menu {
  margin-bottom: 70px;
}

.menu__list.entrees {
  animation-delay: 0.1s;
  animation: slideup 0.3s;
}

.menu__list.plats {
  animation-delay: 0.1s;
  animation: slideup 0.9s;
}

.menu__list.desserts {
  animation-delay: 0.1s;
  animation: slideup 1.8s;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu {
  display: flex;
  box-shadow: 0 4px 10px #bfbfbf;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  max-width: 700px;
  cursor: pointer;
}
.menu__description {
  display: inline-block;
  width: 80%;
  margin-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__description .bold {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__description .bold + p {
  margin: 0 0 15px 0;
  font-weight: 300;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__price {
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 20px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
  overflow: hidden;
  transition-duration: 0.5s;
}

i.fas.fa-check-circle {
  color: white;
  font-size: 1.6rem;
}

.menu:hover > .check {
  width: 20%;
  transform-origin: right;
  animation: slidein 0.5s cubic-bezier(0.54, 0.24, 0, 1.01);
}

.menu:hover .check > i {
  animation: rotate 0.5s ease-in-out;
}

@keyframes slidein {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*----------------------------------------------------
                     SECTION ORDER
----------------------------------------------------*/
.order {
  display: flex;
  justify-content: center;
  margin: 30px 0 80px 0;
}
.order button {
  border: none;
  font-size: 1.3rem;
  border-radius: 2rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 0 4px 10px #bfbfbf;
  cursor: pointer;
  padding: 20px 60px;
  font-size: 1.3rem;
  margin: auto;
}
.order button:hover {
  opacity: 0.8;
  box-shadow: 0 8px 10px #797979;
  transition: all 0.4s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
