@import "./../utils/variables";
@import "./../utils/mixins";
/*--section-location--*/
.location {
    margin-top: 3px;
    background-color: rgb(237, 237, 237);
    padding: 15px 0;
    .loc__input {
        display: flex;
        justify-content: center;
        i {
            font-size: 1rem;
        }
        input {
            font-size: 1rem;
            padding-left: 20px;
        }
        ::placeholder {
            color: black;
        }
    }
}

/*--section-explore--*/

.explore {
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 40px;
    &__title {
        padding-bottom: 15px;
    }
    h2 {
        margin: 0;
        padding: 0 10px;
    }
    p {
        font-weight: 100;
    }
    button {
        border: none;
        padding: 20px;
        font-size: 1rem;
        border-radius: 2rem;
        /*ne-fonctionne-pas-avec-la-variable*/
        //  background: linear-gradient ($color-secondary, $color-primary);
        background: linear-gradient(#FF79DA, #9356DC);
        color: white;
        box-shadow: 0 4px 10px rgb(191, 191, 191);
        &:hover {
           opacity: 0.8;
           box-shadow: 0 8px 10px rgb(121, 121, 121);
        }
    }
}

/*--section-operation (fonctionnement)--*/

.operation {
    padding: 30px 30px;
    @include desktop {
        display: flex;
        flex-wrap: wrap;
    }
    &__title {
        font-size: 1.2rem;
        @include tablette {
           text-align: center;
        }
        @include desktop {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
    }

}
.operation__step {
    display: flex;
    align-items: center;
    border-radius: 1.3rem;
    padding: 15px;
    margin: 20px auto;
    background: rgb(240, 240, 240);
    position: relative;
    box-shadow: 0 4px 10px rgb(191, 191, 191);
    max-width: 90%;
    @include tablette {
        justify-content: center;
    }
        &:hover {
        background: #f8efff;
        }
}

i {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1rem;
    &:hover {
        color: #9356DC; /*changement de couleur au survol ne fonctionne pas */
        }
}

.operation__step__number {
    position: absolute;
    left: -5%;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    font-size: 0.8rem;
    background-color: #9356DC; /*couleur-ne-fonctionne-pas-avec-la-variable???*/
    @include tablette {
       left: -2%;
     }

    }

/*--section-restaurant--*/
.restaurant {
    background-color: rgb(247, 247, 247);
    padding: 30px 0;
    @include desktop {
    //    display: flex;
    //  flex-wrap: wrap;
    }
    &__title {
        font-size: 1.3rem;
        padding-left: 30px;
        @include desktop {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

.restaurant {
    @include desktop {
       display: flex;
       flex-wrap: wrap;
    }
}

a {
    @include desktop {
        width: 40%;
        margin: auto;
    }
}

.restaurant__card {
    width: 88%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgb(191, 191, 191);
    position: relative;
    @include desktop {
        width: 100%;
    }
    &__flag {
        position: absolute;
        background-color: #99E2D0;
        padding: 5px 10px;
        top: 5%;
        left: 75%;
        font-size: 0.8rem;
        color: #05785b;
    }
    img {
        border-radius: 20px 20px 0 0 ;
        height: 170px;
    }
    .restaurant__card__name--bold {
        font-weight: 700;
        font-size: 1.1rem;
        margin: 15px 0 5px 15px;
    }
    .restaurant__card__loc {
        font-weight: 300;
        margin: 0;
        padding: 5px 0 20px 15px;
    }
    .restaurant__card__heart {
        position: absolute;
        top: 80%;
        left: 80%;
        font-size: 1.4rem;
    }

}