@import "./../utils/variables";
@import "./../utils/mixins";
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
// loader
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: loader 2s ease-in-out 1s 1 normal forwards;
  }
  
  .loading__spinner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
  }
  
  .loading::after {
    content: "";
    width: 150px;
    height: 150px;
    border: 20px solid $color-tertiary;
    border-top-color: $color-primary;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s ease infinite;
  }
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
/*--section-location--*/
.location {
    margin-top: 3px;
    background-color: rgb(237, 237, 237);
    padding: 15px 0;
    .loc__input {
        display: flex;
        justify-content: center;
        i {
            font-size: 1rem;
        }
        input {
            font-size: 1rem;
            padding-left: 20px;
        }
        ::placeholder {
            color: black;
        }
    }
}

/*--section-explore--*/

.explore {
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 40px;
    &__title {
        padding-bottom: 15px;
    }
    h2 {
        margin: 0;
        padding: 0 10px;
    }
    p {
        font-weight: 100;
    }
    button {
        border: none;
        padding: 20px;
        font-size: 1rem;
        border-radius: 2rem;
        /*ne-fonctionne-pas-avec-la-variable*/
        //  background: linear-gradient ($color-secondary, $color-primary);
        background: linear-gradient(#FF79DA, #9356DC);
        color: white;
        box-shadow: 0 4px 10px rgb(191, 191, 191);
        &:hover {
           opacity: 0.8;
           box-shadow: 0 8px 10px rgb(121, 121, 121);
        }
    }
}

/*--section-operation (fonctionnement)--*/

.operation {
    padding: 30px 30px;
    @include desktop {
        display: flex;
        flex-wrap: wrap;
    }
    &__title {
        font-size: 1.2rem;
        @include tablette {
           text-align: center;
        }
        @include desktop {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
    }

}
.operation__step {
    display: flex;
    align-items: center;
    border-radius: 1.3rem;
    padding: 15px;
    margin: 20px auto;
    background: rgb(240, 240, 240);
    position: relative;
    box-shadow: 0 4px 10px rgb(191, 191, 191);
    max-width: 90%;
    @include tablette {
        justify-content: center;
    }
        &:hover {
        background: #f8efff;
        }
}

.operation__step i {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.1rem;
    &:hover {
        color: #9356DC;
        }
}

.operation__step__number {
    position: absolute;
    left: -5%;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    font-size: 0.8rem;
    background-color: #9356DC; /*couleur-ne-fonctionne-pas-avec-la-variable???*/
    @include tablette {
       left: -2%;
     }

    }

/*--section-restaurant--*/
.restaurant {
    background-color: rgb(247, 247, 247);
    padding: 30px 0;
    @include desktop {
    //    display: flex;
    //  flex-wrap: wrap;
    }
    &__title {
        font-size: 1.3rem;
        padding-left: 30px;
        @include desktop {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

.restaurant {
    @include desktop {
       display: flex;
       flex-wrap: wrap;
    }
}

a {
    @include desktop {
        width: 40%;
        margin: auto;
    }
}

.restaurant__card {
    width: 88%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgb(191, 191, 191);
    position: relative;
        @include desktop {
            width: 100%;
        }
        &__flag {
            position: absolute;
            background-color: #99E2D0;
            padding: 5px 10px;
            top: 5%;
            left: 75%;
            font-size: 0.8rem;
            color: #05785b;
        }
        img {
            border-radius: 20px 20px 0 0 ;
            height: 170px;
        }
}

.restaurant__card__descriptif {
    display: flex;
    justify-content: space-between;
}

.restaurant__card__name--bold {
        font-weight: 700;
        font-size: 1.1rem;
        margin: 15px 0 5px 15px;
}
.restaurant__card__loc {
    font-weight: 300;
     margin: 0;
    padding: 5px 0 20px 15px;
}
.restaurant__card__heart {
    font-size: 1.5rem;
    margin: 30px;
}

.restaurant__card__heart i.far {
    z-index: 1;
    position: relative;
   }

.restaurant__card__heart i.far:hover {
    color: transparent;
    animation: like-hidden 0.5s linear;
}

.restaurant__card__heart i.fas {
    opacity: 0;
    z-index: 5;
    background: linear-gradient(to top, $color-secondary, $color-primary);
    background-clip: text;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.restaurant__card__heart i.fas:hover {
        animation: like 0.5s linear;
        animation-fill-mode: forwards;
}


@keyframes like {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes like-hidden {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




