@import "./../utils/variables";

  /*----------------------------------------------------
                     SECTION BANNIERE RESTAURANT
----------------------------------------------------*/

.restaurant__banner img {  /*image bannière header*/
    max-height: 450px;
}

.restaurant__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: -50px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    h1 {
        font-size: 2rem;
    }
}

.likes {
    position: relative;
    top: 0; left: 0;
        & > i {
        font-size: 2rem;
        background-color: transparent;
    }

i.fas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    &:hover {
        opacity: 1;
        background: -webkit-gradient(linear, left top, left bottom, from($color-secondary), to($color-primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: like .4s ease;
        }
    }
}

@keyframes like {
0% {
    opacity: 0;
}
50% {
    opacity: .5;
}
100% {
    opacity: 1;
}
}

  /*----------------------------------------------------
                     SECTION MENU
----------------------------------------------------*/

.menu {
    display: flex;
    box-shadow: 0 4px 10px rgb(191, 191, 191);
    width: 90%;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
    &__description {
        display: inline-block;
        width: 80%;
        margin-left: 20px;
        padding-right: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        & .bold {
            font-weight: 700;
            font-size: 1.5rem;
            margin: 15px 0;
            text-overflow: ellipsis;
            overflow: hidden;
                & + p{
                margin: 0 0 15px 0;
                font-weight: 300;
                font-size: 1.2rem;
                text-overflow: ellipsis;
                overflow: hidden;       
            }
        }
    }
}

.menu__price {
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 20px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $color-tertiary;
    width: 0;
    overflow: hidden;
    &:hover {
        width: 50px;
    }
    }
    
i.fas.fa-check-circle {
        color: white;
        font-size: 1.7rem;       
    }

@keyframes translate {
    0% {
        transform: translate(90px, 0%);
    }
    100% {
        transform: translate(0);
    }
}


@keyframes rotate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(1turn);
    }
}