@mixin font-heading {
    font-family: 'Shrikhand', cursive;
    font-size: 1.2rem;
}

@mixin text-color ($color: black){
    @if (lightness($color) < 25% ) {
        $color: lighten($color, 100%);
    }
}
