@mixin font-heading {
    font-family: 'Shrikhand', cursive;
    font-size: 1.2rem;
}

@mixin tablette {
    @media screen and (min-width: 500px) and (max-width: 800px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}

@mixin button {
    border: none;
    font-size: 1.3rem;
    border-radius: 2rem;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    box-shadow: 0 4px 10px rgb(191, 191, 191);
    cursor: pointer;
    &:hover {
       opacity: 0.8;
       box-shadow: 0 8px 10px rgb(121, 121, 121);
       transition: all 0.4s ease-in-out;
    }
}